@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>NLog.SignalR Demo</h1>

<button class="btn btn-primary" id="createLogEntryButton">Create Log Entry</button>

<hr />

<div id="logs">
    <table id="logTable" class="table">
        <thead>
            <tr>
                <th>Time</th>
                <th>Level</th>
                <th>Message</th>
            </tr>
        </thead>
        <tbody></tbody>
    </table>
</div>

<script type="text/javascript">
    $(function () {
        $.ajaxSetup({ cache: false }); // prevent IE from caching ajax requests

        $("#createLogEntryButton").click(function () {
            $.getJSON('/Home/AddLogEntry', function () {
            });
        });

        var nlog = $.connection.signalRTargetHub;

        nlog.logEvent = function (message, logEventInfo) {
            $("#logTable tbody").prepend("<tr><td>" + logEventInfo.TimeStamp + "</td><td>" + logEventInfo.Level.Name + "</td><td>" + message + "</td></tr>");
        };

        $.connection.hub.start(function () {
            nlog.listen();
            $("#createLogEntryButton").focus();
        });

    })
</script>
